<h1>Showing selected articles</h1>

<p>
  Title: <%= @article.title %>
</p>

<p>
  Article: <%= @article.description %>
</p>

<div>

  <p>
  <%= link_to "Edit", edit_article_path%>  
  </p>

  <p>
  <%= link_to "Back", articles_path%>  
  </p>
</div>