<h1>About page</h1>

<%= link_to 'Home', root_path %>

<div>
<div align="center"  height="300px"> <%= image_tag 'lake.jpg' %></div>
<div align="center"  height="300px"> <%= image_tag 'avila.jpg' %></div>
</div>
