<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Welcome!</title>
</head>
<body>
  <header><h1 align="center" style=" font-size: 60px; " ><strong>Home Page</strong> </h1></header>

  <div></div> 
  <div></div>
  <div></div>  
  <%= link_to "Alpha-Blog Dog!", articles_path%>
  <%= link_to 'About', about_path %>

  <div align="center"  height="300px"> <%= image_tag 'lake.jpg' %></div>
  <div align='center' style="width:1200px">
    <div style="overflow:scroll; height:100px;width:500px; display:inline-block; position: relative;margin-right:100px; margin-left:30px;" >
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, vel maxime necessitatibus, cupiditate iusto excepturi nihil id debitis fuga nam repellendus impedit dolorum tempore pariatur sapiente dolores veritatis placeat officiis!</p>
    </div>

    <div style="overflow:scroll; height:100px; width: 500px; display:inline-block; position: relative;" >
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, vel maxime necessitatibus, cupiditate iusto excepturi nihil id debitis fuga nam repellendus impedit dolorum tempore pariatur sapiente dolores veritatis placeat officiis!</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore consequuntur veniam ad sapiente repellendus. Commodi suscipit et veniam, dolores corporis minima officia eaque autem necessitatibus provident amet ratione temporibus asperiores!</p>
    </div>
  </div>   
  
  <footer>
   <h3> Ruby on rails 1st project deploy </h3>
  </footer>
</body>
</html>