<h1 align="center">All categories</h1>

  <% Category.all.each do |category|%>
    <div class="row">
      <div class="col-xs-4 well col-xs-offset-4 ">
        <div class= "well well-xs">
          <div align="center" class="col article-title">
            <strong><%= link_to "#{category.name}", category_path(category)%></strong>
          </div >
          <div align="center">
            <small ><%= pluralize(category.articles.count, "article")%></small>
          </div>
        </div>
      </div>
    </div> 
  <%end%>


