<h1 align="center">All categories</h1>
<div class="container">
  <% Category.all.each do |category|%>
    <div class="row">
      <div class="col-xs-8 well col-xs-offset-2 ">
        <div class= "well well-xs">
          <div class="col article-title">
            <strong><%= link_to "#{category.name}", category_path(category)%></strong>
          </div>
        </div>
      </div>
    </div> 
  <%end%>
</div>

