<div class="container">

  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">Alpha-Blog </a>
      by <a href="#"> Andres H. </a>

    </small>
     <nav>
      <ul>
        <li><%= link_to "About", about_path%></li>
        <li><%= link_to "Aboutdfoksok", about_path%></li>
        <li><%= link_to "About234", about_path%></li>
      </ul>
    </nav>
  </footer>
 
</div>